{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
		<section class="breadcrumbs-area gray-bg ptb-100 port bread-card solid-color">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="breadcrumbs">
                            <h2 class="page-title">новости акции</h2>
                            <ul>
                                <li>
                                    <a class="active" href="#">Главная</a>
                                </li>
                                <li> новости акции</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<!-- breadcrumbs end -->
        <section class="blog-area ptb-100">
            <div class="container-fluid">
                <div class="blog-area ptb-90">
            <div class="container">
				<div class="section-title text-center mb-70">
					<h2>Акции</h2>
					<p>В комплексе наши услуги ещё выгоднее!</p>
				</div>

                <div class="row">
                    <div class="col-md-offset-2 col-md-4 col-sm-6 col-xs-12">
                        <div class="single-pricing">
                            <div class="pricing-top">
                                <h3>Комплекс</h3>
                                <p>1 100 р</p>
                            </div>
                            <div class="pricing-bottom">
                                <div class="pricing-tex">
                                    <ul>
                                        <li>Архитектура и окрашивание бровей + окрашивание ресниц</li>
                                    </ul>
                                </div>
                                <div class="price-btn">
                                    <a href="#">Записаться</a>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-pricing">
                            <div class="pricing-top">
                                <h3>Комплекс</h3>
                                <p>3 500 р</p>
                            </div>
                            <div class="pricing-bottom">
                                <div class="pricing-tex">
                                    <ul>
                                        <li>Ламинирование ресниц и бровей</li>
                                    </ul>
                                </div>
                                <div class="price-btn">
                                    <a href="#">Записаться</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="page">
                        <ul>
                            <li><a href="#">01</a></li>
                            <li><a href="#">02</a></li>
                            <li class="active"><a href="#">03</a></li>
                            <li><a href="#">04</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}